<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="api.utilities.ExtentReportManager"></listener>
</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="api.tests.TestsCreateOrder">
      	<methods>
                <include name="genearateTokenModuleTest"></include>
                <include name="createOrderModuleTest"></include>
                <include name="assignBatchModuleTest"></include>
                <include name="markPackedModuleTest"></include>
                <include name="createShipmentModuleTest"></include>
                <include name="dispatchShipmentMethod"></include>
            </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->